    <div class="spacer"></div>
    <div class="leader_block">
      <div class="leader_fbuser">
      <%= fb_name(leader.fb_user_id, :capitalize => true) %><br>
      <%= fb_profile_pic(leader.fb_user_id, :size => :square) %>
      </div>
      <div class="leader_stats" onClick="do_ajax_stats_to_albums(<%=fb_user_id%>,<%=leader.fb_user_id%>);">
        <div class="leader_labels">
          Heard<br>
          Owned<br>
          Vinyl<br>
          CD<br>
          mp3<br>
        </div>
        <div class="leader_numbers">
          <%= leader.heard %><br>
          <%= leader.owned %><br>
          <%= leader.vinyl %><br>
          <%= leader.cd %><br>
          <%= leader.mp3 %><br>
        </div>
      </div>
    </div>
