<div class="span4 wanted_album_details">
	<div class="album_image">
		<%= build_image_link(detail.album) %>
	</div>
	<div class="wanted_artist">
		<%=h detail.album.artist %>
	</div>
	<div class="wanted_title">
		<%=h detail.album.title %> (<%=h detail.album.year %>)
	</div>
	<div class="wanted_buy_links">
		<% if detail.album.asin != '' %>
				<%= build_amazon_link(detail.album.asin) %>
		<% end %>
		<% if detail.album.apple_id != 'NULL' %>
			<%= build_apple_link(detail.album.apple_id) %>
 		<% end %>
	</div>
</div>
