<%= render(:partial => "common_header") %>
<body onload="do_js_set_state('<%=@user.session_id%>');do_js_get_wanted_albums('owned','wanted_albums')">

<div id="progress_dialog" class="progress_dialog">
<span class="pd_text">
Loading <img class="pd_image" src="<%=$APP_ROOT%>images/progress.gif" />
</span>
</div>

<div id="loaded_frame" style="display:none" class="loaded_display">
<%= render(:partial => "wanted_filters", :locals => {:session_id => @user.session_id}) %>

<div id="wanted_albums" class="albums_display">
</div>
</div>
<%= render(:partial => "common_footer") %>
</body>
