<%# render :partial => "header" %>

<body onload="do_js_set_state('<%=@user.session_id%>');do_js_get_paged_albums(1,'my_albums');">
<div class="tabheader">
<br>
<h1><%= @fb_user["first_name"].possessive %> Albums</h1><br>

<%= render(:partial => "common_header") %>

<div id="progress_dialog" class="progress_dialog">
<span class="pd_text">
Loading <img class="pd_image" src="<%=$APP_ROOT%>images/progress.gif" />
</span>
</div>

<div id="loaded_frame" style="display:none" class="loaded_display">
<%= render(:partial => "my_albums_filters") %>
<div id="my_albums" class="albums_display">
</div>
</div>
</body>
