<body onload = "load_cached_checkmarks();">
<div class="mobile_frame">
<% for detail in @details %>
					<div class="mobile_album_details" onClick="phone_toggle('phone_check_<%=h detail.album.id%>')">
						<div class="album_image">
							<%= build_image_link(detail.album) %>
						</div>
						<div class="phone_checked" id="phone_check_<%=h detail.album.id%>">
							<img src="http://1001Albums.fisheyedev.com/images/phone_checked.gif" height="24" width="25">
						</div>
						<div class="mobile_artist">
							<%=h detail.album.artist %>
						</div>
						<div class="mobile_title">
							<%=h detail.album.title %>
						</div>
					</div>
<% end %>
</div>
<script>
function phone_toggle(toggle_div) {
    var tdv = document.getElementById(toggle_div)
    if (tdv.style.display == 'block') {
      localStorage.removeItem(toggle_div)
      tdv.style.display = 'none'
    } else {
      tdv.style.display = 'block'
      localStorage[toggle_div]='true'
    }
}
function load_cached_checkmarks(){
  var numKeys=localStorage.length
  for (i=0;i<numKeys;i++) {
    var tdv = document.getElementById(localStorage.key(i))
    tdv.style.display = 'block'
  }
}
</script>
