<div class="leader_block" onClick="do_ajax_stats_to_albums(<%=@user.id%>,<%= fb_info['id'].to_i%>);">
  <div class="leader_fbuser">
    <%= fb_info['name'] %>
  </div>
  <%= image_tag(fb_info['image'], {:class => "leader_image"}) %>
  <div class="leader_stats">
    <div class="leader_labels">
      Heard<br>
      Owned<br>
      Vinyl<br>
      CD<br>
      mp3<br>
    </div>
    <div class="leader_numbers">
      <%= leader.heard %><br>
      <%= leader.owned %><br>
      <%= leader.vinyl %><br>
      <%= leader.cd %><br>
      <%= leader.mp3 %><br>
    </div>
  </div>
</div>
