<% detail = @detail %>
	<div class="album_data">
    <ul class='set-heard'>
      <span id='heard_<%=detail.album_id%>'>
				<li class='current-heard-<%=detail.heard_id.to_s%>'></li>
 				<li>    
					<%= fast_ltr_details('Heard It','heard',1,detail.album_id) %>
 				</li>         
      </span>
    </ul>
    <ul class='set-owned'>
      <span id='owned_<%=detail.album_id%>'>
 				<li class='current-owned-<%=detail.owned_id.to_s%>'></li>
 				<li>    
					<%= fast_ltr_details('Not Going To Buy','owned',1,detail.album_id) %>
    		</li>       
    		<li>          
					<%= fast_ltr_details('Own It','owned',2,detail.album_id) %>
    		</li>         
      </span>
    </ul>
    <ul class='set-format'>
      <span id='format_<%=detail.album_id%>'>
    		<li class='current-format-<%=detail.format_id.to_s%>'></li>
    		<li>    
					<%= fast_ltr_details('Vinyl','format',1,detail.album_id) %>
    		</li>       
    		<li>          
					<%= fast_ltr_details('CD','format',2,detail.album_id) %>
    		</li>         
    		<li>        
					<%= fast_ltr_details('mp3','format',3,detail.album_id) %>
    		</li>         
      </span>
    </ul>
    <ul class='set-rating'>
      <span id='rating_<%=detail.album_id%>'>
  			<li class='current-rating-<%=detail.rating.to_s%>'></li>
   			<li>    
					<%= fast_ltr_details('Not A Fan','rating',1,detail.album_id) %>
   			</li>       
   			<li>          
					<%= fast_ltr_details('It\'s Fine','rating',2,detail.album_id) %>
   			</li>         
   			<li>        
					<%= fast_ltr_details('Like It','rating',3,detail.album_id) %>
				</li>
   			<li>        
					<%= fast_ltr_details('Love It','rating',4,detail.album_id) %>
				</li>
      </span>
    </ul>
  </div>
	<div class="album_notes">
		<textarea id="notes_<%=detail.album_id%>"
							name="notes_<%=detail.album_id%>" 
							class="note_text"
							ROWS="5" COLS="20" 
							onClick="do_js_click_highlight_note(<%=detail.album_id%>);"
							onFocus="do_js_focus_highlight_note(<%=detail.album_id%>);"
							onChange="do_js_set_note(<%=detail.album_id%>);"
		><%=h detail.notes.nil? ? "Enter Note" : detail.notes %></textarea>
 	</div>
