										<li class='current-rating-<%=@detail.rating.to_s%>'></li>
                      <li>
                        <%= fast_ltr_details('Not A Fan','rating',1,@detail.album_id) %>
                      </li>
                      <li>
                        <%= fast_ltr_details('It\'s Fine','rating',2,@detail.album_id) %>
                      </li>
                      <li>
                        <%= fast_ltr_details('Like It','rating',3,@detail.album_id) %>
                      </li>
                      <li>
                        <%= fast_ltr_details('Love It','rating',4,@detail.album_id) %>
                      </li>

