<!DOCTYPE html>
<html>
<head>
  <title>1001Albums</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "prototype" %>
  <%= javascript_include_tag "effects" %>
  <%= javascript_include_tag "dragdrop" %>
  <%= javascript_include_tag "controls" %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<%= yield %>

</body>
</html>
